@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 14px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer; }

.header .header-nav::before, .inner::before, .counties-wrap .find-in::before, .counties-wrap .find-in .title-wrap::before, .login-wrap .login-inner::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.header .header-nav > *, .inner > *, .counties-wrap .find-in > *, .counties-wrap .find-in .title-wrap > *, .login-wrap .login-inner > * {
  display: inline-block;
  vertical-align: middle; }

.grey-bg {
  background: #f6f8f8; }

.blue-bg {
  background: #30436b; }

.orange-bg {
  background: #ef6223; }

.blue-text {
  color: #30436b; }

.orange-text {
  color: #ef6223; }

.center-text {
  text-align: center; }

.sub {
  font-size: 12px;
  color: inherit; }

.container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 10px; }
  @media (max-width: 1074px) {
    .container {
      width: 1000px; } }
  @media (max-width: 1023px) {
    .container {
      width: 100%; } }

.row {
  margin: 0 -10px; }

.icon {
  display: inline-block; }

.form-control {
  display: inline-block;
  height: 57px;
  padding: 0 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #7e878d;
  font-size: 16px; }

.form-btn {
  display: inline-block;
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #ef6223;
  padding: 0 27px;
  text-transform: uppercase; }
  .form-btn:hover {
    background: #d0551e; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer; }
    input[type="checkbox"] + label::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background: #fff;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      margin-right: 14px;
      vertical-align: top; }
  input[type="checkbox"]:checked + label::before {
    background: #fff url("../img/checkbox-checked-bg.png") no-repeat center center; }

.simple-text-block {
  padding: 27px 0;
  font-size: 18px;
  color: #5a6464;
  border-bottom: 1px solid #e4ebec; }
  @media (max-width: 1023px) {
    .simple-text-block {
      font-size: 16px;
      text-align: center;
      line-height: 1.4; } }

.header {
  height: 80px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    margin-top: 15px; }
  .header .slicknav_menu {
    display: none; }
    @media (max-width: 767px) {
      .header .slicknav_menu {
        display: inline-block;
        float: right; } }
  .header .header-nav {
    float: right;
    margin: 27px 200px 0 0; }
    @media (max-width: 959px) {
      .header .header-nav {
        margin: 27px 50px 0 0; } }
    @media (max-width: 767px) {
      .header .header-nav {
        display: none; } }
    .header .header-nav li {
      display: inline-block;
      height: 36px;
      line-height: 36px; }
      .header .header-nav li span.search-ico {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #ef6223; }
    .header .header-nav li + li {
      margin-left: 28px; }
      @media (max-width: 767px) {
        .header .header-nav li + li {
          margin-left: 15px; } }
    .header .header-nav .search {
      position: relative; }
    .header .header-nav .search-block {
      position: absolute;
      top: 0;
      right: 26px;
      display: none;
      white-space: nowrap;
      overflow: hidden; }
      .header .header-nav .search-block input {
        height: 36px; }
        .header .header-nav .search-block input + input {
          margin-left: -4px; }
      .header .header-nav .search-block .form-control {
        -webkit-border-top-right-radius: 0;
                border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
                border-bottom-right-radius: 0;
        border: 1px solid #ef6223;
        overflow: hidden; }
      .header .header-nav .search-block .form-btn {
        -webkit-border-top-left-radius: 0;
                border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
                border-bottom-left-radius: 0;
        background: #ef6223 url("../img/search-ico-white.png") no-repeat center center;
        color: transparent;
        padding: 0; }
        .header .header-nav .search-block .form-btn:hover {
          background: #d0551e url("../img/search-ico-white.png") no-repeat center center; }
    .header .header-nav .close {
      display: inline-block;
      background: #fff;
      width: 19px;
      height: 36px;
      cursor: pointer;
      vertical-align: top; }
      .header .header-nav .close::before, .header .header-nav .close::after {
        content: "";
        display: inline-block;
        width: 19px;
        height: 1px;
        background: #ef6223;
        position: absolute;
        top: 50%; }
      .header .header-nav .close::before {
        left: 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .header .header-nav .close::after {
        right: 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .header .header-nav .close:hover::before, .header .header-nav .close:hover::after {
        background: #d0551e; }

.footer {
  padding: 43px 0; }
  .footer .footer-nav {
    margin-bottom: 35px;
    line-height: 1.5; }
    .footer .footer-nav li {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase; }
      @media (max-width: 479px) {
        .footer .footer-nav li {
          font-size: 12px; } }
      .footer .footer-nav li a {
        color: #515a60; }
        .footer .footer-nav li a:hover {
          color: #ef6223; }
      .footer .footer-nav li + li {
        margin-left: 20px; }
        @media (max-width: 479px) {
          .footer .footer-nav li + li {
            margin-left: 15px; } }
  .footer .footer-logo {
    margin-bottom: 30px; }
  .footer .copy {
    color: #7d858b;
    font-size: 14px; }

.btn {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0 25px; }
  @media (max-width: 767px) {
    .btn {
      font-size: 14px;
      padding: 0 15px; } }
  .btn.white-btn {
    border-color: #fff;
    color: #fff; }
    .btn.white-btn:hover {
      background: #fff;
      color: #30436b; }
  .btn.orange-btn {
    border-color: #ef6223;
    color: #ef6223; }
    .btn.orange-btn:hover {
      background: #ef6223;
      color: #fff; }

.admin-ico {
  background-image: url(../img/sprite.png);
  background-position: -70px -97px;
  width: 29px;
  height: 30px; }

.apartment-ico {
  background-image: url(../img/sprite.png);
  background-position: 0px -62px;
  width: 35px;
  height: 35px; }

.case-ico {
  background-image: url(../img/sprite.png);
  background-position: -35px -97px;
  width: 35px;
  height: 33px; }

.commers-ico {
  background-image: url(../img/sprite.png);
  background-position: -97px -34px;
  width: 35px;
  height: 34px; }

.crime-ico {
  background-image: url(../img/sprite.png);
  background-position: -62px 0px;
  width: 35px;
  height: 35px; }

.hands-ico {
  background-image: url(../img/sprite.png);
  background-position: -97px 0px;
  width: 35px;
  height: 34px; }

.home-ico {
  background-image: url(../img/sprite.png);
  background-position: -70px -62px;
  width: 27px;
  height: 35px; }

.people-ico {
  background-image: url(../img/sprite.png);
  background-position: -35px -62px;
  width: 35px;
  height: 35px; }

.planet-ico {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

.resident-ico {
  background-image: url(../img/sprite.png);
  background-position: 0px -97px;
  width: 35px;
  height: 34px; }

.search-ico {
  background-image: url(../img/sprite.png);
  background-position: -97px -68px;
  width: 19px;
  height: 19px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block;
    text-align: center; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 989;
  background: transparent;
  border: none;
  color: transparent;
  height: 22px;
  width: 14px;
  padding: 0;
  margin-top: -10px; }

.slick-prev {
  left: 0;
  margin-left: -60px; }
  @media (max-width: 1199px) {
    .slick-prev {
      margin-left: 0; } }

.slick-next {
  right: 1px;
  margin-right: -60px; }
  @media (max-width: 1199px) {
    .slick-next {
      margin-right: 0; } }

.slick-arrow::before, .slick-arrow::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 2px;
  background: #ef6223;
  position: absolute; }

.slick-prev::before {
  top: 13px;
  left: 0;
  -webkit-transform: rotate(38deg);
      -ms-transform: rotate(38deg);
          transform: rotate(38deg); }

.slick-prev::after {
  bottom: 15px;
  left: 0;
  -webkit-transform: rotate(-38deg);
      -ms-transform: rotate(-38deg);
          transform: rotate(-38deg); }

.slick-next::before {
  top: 13px;
  right: 0;
  -webkit-transform: rotate(-38deg);
      -ms-transform: rotate(-38deg);
          transform: rotate(-38deg); }

.slick-next::after {
  bottom: 15px;
  right: 0px;
  -webkit-transform: rotate(38deg);
      -ms-transform: rotate(38deg);
          transform: rotate(38deg); }

.slick-slide a {
  color: #ef6223; }
  .slick-slide a:hover {
    color: #30436b; }

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em; }
    .slicknav_menu .slicknav_icon:before {
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block;
    border-top: 1px solid #ef6223; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 5px; }
  .slicknav_menu * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ef6223; }

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 80px;
  background: #fff;
  text-align: center;
  width: 100%; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background: #ef6223;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    text-decoration: none;
    color: #7e878d;
    line-height: 45px;
    font-size: 20px;
    font-weight: 600; }
    .slicknav_nav a:hover {
      background: #ef6223;
      color: #fff; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  @media (max-width: 959px) {
    .inner {
      height: auto;
      padding: 30px 0; } }
  .inner .inner-block {
    color: #fff; }
    .inner .inner-block h1 {
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 30px; }
      @media (max-width: 767px) {
        .inner .inner-block h1 {
          font-size: 60px; } }
      @media (max-width: 479px) {
        .inner .inner-block h1 {
          font-size: 50px; } }
    .inner .inner-block > span {
      font-size: 28px;
      font-weight: 300; }
      @media (max-width: 767px) {
        .inner .inner-block > span {
          font-size: 24px; } }
    .inner .inner-block .inner-form {
      padding: 25px 37px;
      background: rgba(0, 0, 0, 0.45);
      margin-top: 40px;
      text-align: left;
      font-size: 16px; }
      @media (max-width: 479px) {
        .inner .inner-block .inner-form {
          margin-top: 20px; } }
      .inner .inner-block .inner-form .first-form .form-control {
        width: 325px; }
        @media (max-width: 959px) {
          .inner .inner-block .inner-form .first-form .form-control {
            width: 100%; } }
      @media (max-width: 959px) {
        .inner .inner-block .inner-form .first-form .form-btn {
          width: 100%; } }
      .inner .inner-block .inner-form input + input, .inner .inner-block .inner-form select + input {
        margin-left: 4px; }
        @media (max-width: 959px) {
          .inner .inner-block .inner-form input + input, .inner .inner-block .inner-form select + input {
            margin-left: 0;
            margin-top: 10px; } }
      .inner .inner-block .inner-form .more-option-btn {
        display: inline-block;
        cursor: pointer;
        margin-top: 10px; }
      .inner .inner-block .inner-form .more-options-form {
        display: none; }
        .inner .inner-block .inner-form .more-options-form .input-group {
          margin-top: 15px; }
          .inner .inner-block .inner-form .more-options-form .input-group > label {
            margin-right: 50px; }
            @media (max-width: 959px) {
              .inner .inner-block .inner-form .more-options-form .input-group > label {
                margin-right: 20px; } }
          .inner .inner-block .inner-form .more-options-form .input-group .input-item {
            width: 32%;
            display: inline-block; }
            @media (max-width: 959px) {
              .inner .inner-block .inner-form .more-options-form .input-group .input-item {
                width: 100%;
                margin-top: 15px; } }
            .inner .inner-block .inner-form .more-options-form .input-group .input-item label {
              font-size: 16px;
              display: block;
              margin-bottom: 8px; }
            .inner .inner-block .inner-form .more-options-form .input-group .input-item input {
              width: 97%; }
          .inner .inner-block .inner-form .more-options-form .input-group .checkbox-item {
            display: inline-block; }
            @media (max-width: 767px) {
              .inner .inner-block .inner-form .more-options-form .input-group .checkbox-item {
                display: block; } }
            .inner .inner-block .inner-form .more-options-form .input-group .checkbox-item + .checkbox-item {
              margin-left: 50px; }
              @media (max-width: 959px) {
                .inner .inner-block .inner-form .more-options-form .input-group .checkbox-item + .checkbox-item {
                  margin-left: 20px; } }
              @media (max-width: 767px) {
                .inner .inner-block .inner-form .more-options-form .input-group .checkbox-item + .checkbox-item {
                  margin: 15px 0 0 0; } }

.service-wrap {
  padding: 55px 0 70px 0;
  overflow: hidden; }
  .service-wrap .service-item {
    float: left;
    padding: 0 10px;
    width: 33.333%;
    height: 180px;
    overflow: hidden;
    margin-bottom: 30px; }
    @media (max-width: 959px) {
      .service-wrap .service-item {
        width: 50%; } }
    @media (max-width: 767px) {
      .service-wrap .service-item {
        width: 100%;
        height: auto; } }
    .service-wrap .service-item .title {
      color: #ef6223;
      font-size: 20px;
      margin: 10px 0; }
    .service-wrap .service-item p {
      width: 70%;
      font-size: 16px;
      line-height: 20px;
      color: #6c767e; }
      @media (max-width: 1074px) {
        .service-wrap .service-item p {
          width: 90%; } }
      @media (max-width: 767px) {
        .service-wrap .service-item p {
          width: 97%; } }

.carousel-inner {
  margin-bottom: 73px; }
  @media (max-width: 767px) {
    .carousel-inner {
      margin-bottom: 35px;
      padding: 0 5px; } }
  .carousel-inner .title {
    font-size: 24px;
    font-weight: 600;
    color: #515a60;
    margin-bottom: 15px; }
  .carousel-inner .carousel-wrap {
    padding: 15px 0;
    border-top: 2px solid #e2e6e7;
    border-bottom: 2px solid #e2e6e7; }

.category-wrap {
  padding: 60px 0 75px 0;
  overflow: hidden; }
  .category-wrap > .container > .title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center; }
  .category-wrap .news-row {
    overflow: hidden;
    margin: 50px 0; }
    .category-wrap .news-row .news-post {
      float: left;
      width: 33.333%;
      padding: 0 10px; }
      @media (max-width: 959px) {
        .category-wrap .news-row .news-post {
          width: 100%; } }
      @media (max-width: 959px) {
        .category-wrap .news-row .news-post + .news-post {
          margin-top: 15px; } }
      .category-wrap .news-row .news-post .news-content {
        background: #fff;
        border-top: 6px solid #90bed5;
        -webkit-border-radius: 1px;
                border-radius: 1px;
        padding: 20px; }
        .category-wrap .news-row .news-post .news-content .title {
          font-size: 20px;
          font-weight: 600;
          color: #515a60;
          margin-bottom: 13px; }
        .category-wrap .news-row .news-post .news-content p {
          color: #6c767e;
          font-size: 16px;
          line-height: 20px; }
          .category-wrap .news-row .news-post .news-content p a {
            font-weight: 600; }
  .category-wrap .category-btn {
    text-align: center;
    margin-top: 44px; }
    .category-wrap .category-btn .btn {
      margin: 0 12px; }
      @media (max-width: 767px) {
        .category-wrap .category-btn .btn {
          margin: 10px 5px; } }
      @media (max-width: 479px) {
        .category-wrap .category-btn .btn {
          margin: 10px 0;
          display: block; } }

.counties-wrap {
  padding: 57px 0 80px 0; }
  @media (max-width: 767px) {
    .counties-wrap {
      padding: 35px 0; } }
  .counties-wrap .title {
    font-size: 38px;
    line-height: 32px;
    color: #515a60;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center; }
  .counties-wrap .counties-btn {
    text-align: center;
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      .counties-wrap .counties-btn {
        margin-bottom: 0; } }
    .counties-wrap .counties-btn .btn {
      margin: 0 8px 28px 0; }
  .counties-wrap .find-in {
    padding: 0 27px;
    height: 103px;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    overflow: hidden; }
    @media (max-width: 959px) {
      .counties-wrap .find-in {
        padding: 0 10px; } }
    @media (max-width: 767px) {
      .counties-wrap .find-in {
        padding: 20px 0px 0 0px;
        height: auto; } }
    .counties-wrap .find-in .icon {
      margin-right: 27px; }
      @media (max-width: 959px) {
        .counties-wrap .find-in .icon {
          margin-right: 10px; } }
    .counties-wrap .find-in .title-wrap {
      width: 50%;
      display: inline-block; }
      @media (max-width: 767px) {
        .counties-wrap .find-in .title-wrap {
          width: 100%;
          text-align: center;
          margin-bottom: 10px; } }
      .counties-wrap .find-in .title-wrap .find-text {
        font-weight: 600;
        font-size: 30px;
        color: #fff; }
        @media (max-width: 959px) {
          .counties-wrap .find-in .title-wrap .find-text {
            font-size: 20px; } }
    .counties-wrap .find-in .link-block {
      float: right;
      width: 50%;
      display: inline-block;
      margin-left: -4px; }
      @media (max-width: 767px) {
        .counties-wrap .find-in .link-block {
          width: 100%; } }
      .counties-wrap .find-in .link-block a {
        color: #fff;
        width: 33.3333%;
        text-align: center;
        float: left;
        padding: 29px 33px;
        border-left: 1px solid #da5a1f; }
        @media (max-width: 767px) {
          .counties-wrap .find-in .link-block a {
            border-left: none; } }
        .counties-wrap .find-in .link-block a:hover {
          background: #da5a1f; }
        .counties-wrap .find-in .link-block a:hover .sub {
          color: #fff; }
        @media (max-width: 959px) {
          .counties-wrap .find-in .link-block a {
            padding: 31px 15px; } }
        @media (max-width: 767px) {
          .counties-wrap .find-in .link-block a {
            padding: 24px 15px; } }
        @media (max-width: 479px) {
          .counties-wrap .find-in .link-block a {
            width: 100%;
            text-align: center;
            display: block;
            border-top: 1px solid #da5a1f; } }
        .counties-wrap .find-in .link-block a .name {
          font-size: 24px;
          display: block;
          margin-bottom: 7px; }
          @media (max-width: 959px) {
            .counties-wrap .find-in .link-block a .name {
              font-size: 20px; } }
        .counties-wrap .find-in .link-block a .sub {
          font-size: 14px;
          color: #a54619; }

.login-wrap {
  height: 160px;
  padding: 35px 0; }
  @media (max-width: 767px) {
    .login-wrap {
      height: auto; } }
  .login-wrap .login-inner {
    color: #fff;
    overflow: hidden;
    padding: 5px 0; }
    .login-wrap .login-inner .text-block {
      width: 50%; }
      @media (max-width: 959px) {
        .login-wrap .login-inner .text-block {
          padding-right: 10px; } }
      @media (max-width: 767px) {
        .login-wrap .login-inner .text-block {
          width: 100%;
          text-align: center;
          margin-bottom: 15px; } }
      @media (max-width: 479px) {
        .login-wrap .login-inner .text-block {
          padding: 0; } }
      .login-wrap .login-inner .text-block .title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 13px; }
        @media (max-width: 959px) {
          .login-wrap .login-inner .text-block .title {
            font-size: 30px; } }
      .login-wrap .login-inner .text-block span {
        font-size: 16px;
        line-height: 18px;
        color: #dde3ee; }
        @media (max-width: 959px) {
          .login-wrap .login-inner .text-block span {
            font-size: 14px; } }
    .login-wrap .login-inner .btn-block {
      width: 50%;
      margin: 20px 0 0 -4px;
      display: inline-block;
      text-align: right; }
      @media (max-width: 959px) {
        .login-wrap .login-inner .btn-block {
          margin: 0 0 0 -4px; } }
      @media (max-width: 767px) {
        .login-wrap .login-inner .btn-block {
          width: 100%;
          text-align: center; } }
      @media (max-width: 479px) {
        .login-wrap .login-inner .btn-block {
          margin-left: 0; } }
      @media (max-width: 767px) {
        .login-wrap .login-inner .btn-block .btn {
          margin: 10px 5px; } }
      @media (max-width: 479px) {
        .login-wrap .login-inner .btn-block .btn {
          margin: 10px 0;
          display: block;
          width: 100%; } }
      .login-wrap .login-inner .btn-block .btn + .btn {
        margin-left: 45px; }
        @media (max-width: 959px) {
          .login-wrap .login-inner .btn-block .btn + .btn {
            margin-left: 10px; } }
        @media (max-width: 479px) {
          .login-wrap .login-inner .btn-block .btn + .btn {
            margin-left: 0; } }
